.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.question {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.confirm {
  margin-top: 20px;
}

.confirmButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.confirmButton:hover {
  background-color: #e6b800;
}
